<!-- .row>.col*2 -->

<div class="row">
  <div class="col">

    <app-playlists-list [selected]="selected" 
      (selectedChange)=" select($event) " [items]="playlists"
      (remove)="removePlaylist($event)" >
    </app-playlists-list>

    <button class="btn btn-success float-right mt-3" (click)="createNew()">
      Create New
    </button>

  </div>

  <div class="col">
    <div [ngSwitch]="mode" *ngIf="selected else emptyRef">
      <app-playlists-details 
        *ngSwitchDefault (edit)="edit($event)" 
        [playlist]="selected"></app-playlists-details>

      <app-playlists-form 
        *ngSwitchCase=" 'edit' " 
        [playlist]="selected"
         (cancel)="closeForm()"
         (save)="savePlaylist($event)">
      </app-playlists-form>

      <app-playlists-form 
        *ngSwitchCase=" 'create' " 
        [playlist]="selected"
         (cancel)="closeForm()"
         (save)="savePlaylist($event)">
      </app-playlists-form>
    </div>

    <ng-template #emptyRef>
      <p class="alert alert-info">Please select playlist</p>
    </ng-template>

  </div>
</div>