<div class="row">
  <ng-container appMusicProvider>
    <div class="col">
      <app-albums-search></app-albums-search>
    </div>
    <div class="col">
      <app-albums-search></app-albums-search>
    </div>

  </ng-container>

  <div class="col">

    <button (click)="hide = !hide">
      Toggle {{hide}}
    </button>

    <app-albums-search *ngIf="hide" appMusicProvider></app-albums-search>
  </div>
</div>