<!-- selector:`[ngFor][ngForOf]` -->
<!-- NgForOfContext -->

<div class="list-group">

  <div class="list-group-item" 
      [class.active]=" playlist.id == selected?.id " 
      (click)="select(playlist)"
      *ngFor="let playlist of playlists; let i = index; count as total">
    {{i+1}}. {{playlist.name}}

    <span class="float-right close" (click)="removeClick(playlist)">
      &times;
    </span>
  </div>
  
</div>

<!-- let total = count; index as i -->

<!-- Selected: -->
<!-- {{ selected && selected.name }} -->
<!-- {{ selected?.name }} -->
  
  
  
<!-- <div *fetchItems=" let product from ProductsColls; filterBy x; sortBy placki"></div> -->
<!-- 
  <ng-template ngFor [ngForOf]="playlists" let-playlist="$implicit" let-i="index">
    <div class="list-group-item">
      {{i+1}}. {{playlist.name}}
    </div>
  </ng-template> -->
  
  <!-- ==== -->