<div class="row">
  <div class="col">

    <app-search-form 
      [query]="queryChanges | async" 
      (search)="searchAlbums($event)"></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">

    <p class="alert alert-danger" *ngIf="message">{{message}}</p>


    <p>Found {{(resultsChanges | async)?.length}} results</p>
    
    <app-search-results [results]="resultsChanges | async"></app-search-results>





  </div>
</div>