<!-- {{ albumId | async }} -->

<ng-container *ngIf="album | async as albumDetails">

  <h3>{{albumDetails.name}}</h3>

  <div class="row">
    <div class="col">
      <app-album-card [album]="albumDetails"></app-album-card>
    </div>
    <div class="col">
      <audio class="w-100 mb-3" controls 
      #audioRef [src]="currentTrack?.preview_url"></audio>

      <div class="list-group">
        <div class="list-group-item" *ngFor="let track of tracks | async" [class.active]="currentTrack?.id == track.id"
          (click)="selectTrack(track)">
          {{track.disc_number}}.{{track.track_number}}.
          {{track.name}}
          <span class="float-right"> {{track.duration_ms | duration}} </span>
        </div>
      </div>

    </div>
  </div>

  <!-- <pre>{{albumDetails|json}}</pre> -->

</ng-container>