<p class="alert alert-danger" *ngIf="message">{{message}}</p>

<div class="row">
  <div class="col">
    <app-playlists-list
      (selectedChange)=" selectPlaylist($event?.id) " 
      (remove)="deletePlaylist($event)"
      [selected]="selected | async" [items]="playlists | async"></app-playlists-list>

    <button class="btn btn-info mt-3" [routerLink]="['/playlists', 'create']">Create new playlist</button>

  </div>
  <div class="col">
    <!-- {{mode | async}}
    {{selectedId | async}} -->

    <ng-container [ngSwitch]="mode | async">

      <div *ngIf="selected | async as playlist">

        <app-playlists-details *ngSwitchDefault (edit)="editPlaylist($event)" [playlist]="playlist">
        </app-playlists-details>

        <app-playlists-form *ngSwitchCase="'edit'" (save)="savePlaylistDraft($event)" (cancel)="selectPlaylist(null)"
          [playlist]="playlist"></app-playlists-form>

      </div>

      <app-playlists-form *ngSwitchCase="'create'" (save)="savePlaylistDraft($event)" (cancel)="selectPlaylist(null)"
        [playlist]="{}"></app-playlists-form>

    </ng-container>



  </div>
</div>