<div class="card">
  <div class="card-header" 
      #headerRef [hidden]="!headerRef.children.length">
    <ng-content select="header"></ng-content>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <!-- <ng-content select=".card-title"></ng-content> -->
      <ng-content select="title"></ng-content>
    </h5>


    <ng-content></ng-content>

  </div>
  <div class="card-footer">
    <ng-content select="footer"></ng-content>
  </div>
</div>

<style>
  /* .card-header:empty {
    display: none;
  } */
</style>