<!-- <div class="card-group">
  <app-album-card 
  *ngFor="let result of [1,2,3,42,3,4]">
  </app-album-card>
</div> -->

{{render()}}

<div class="row row-cols-1 row-cols-sm-4 no-gutters">
  <div class="col" *ngFor="let result of results" (click)="x = 1">
    <app-album-card [album]="result" [routerLink]="['/music','albums',result.id]"></app-album-card>
  </div>
</div>