<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="placki active" [routerLinkActiveOptions]="{exact:true}"
      routerLink="/">MusicApp</a>
    <button class="navbar-toggler" type="button" (click)="hide = !hide">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="hide">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="placki active" #rla="routerLinkActive" routerLink="/music">Music</a>
        </li>
        <li class="nav-item" *ngIf="rla.isActive">
          <a class="nav-link" routerLinkActive="placki active" [routerLink]="['/music','search']">Search</a>
        </li>
        <li class="nav-item" routerLinkActive="placki active">
          <a class="nav-link" routerLink="/playlists">Playlists</a>
        </li>
      </ul>

      <!-- User Profile -->
      <div class="ml-auto text-white">
        <ng-container *ngIf="user | async as profile; else guestRef">
          Welcome {{profile.display_name}}, <a (click)="logout()"> Log out</a>
        </ng-container>
        <ng-template class="ml-auto text-white" #guestRef>
          Welcome Guest, <a (click)="login()"> Log in</a>
        </ng-template>
      </div>

    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>