<app-card>

  <!-- <ng-container class="card-title"> -->
  <ng-container ngProjectAs="title">
    <div [style.font-size.px]="20+4"    data-test-id="playlist_name">
      {{playlist.name | titlecase}}
    </div>
  </ng-container>

  <dl [id]="'playlist_'+playlist.id" [title]="playlist.name" [attr.data-id]="playlist.id">

    <!-- <dt>Name:</dt>
    <dd>{{playlist.name | titlecase }}</dd>
   -->
    <dt>Public:</dt>
    <dd class="visibility" [ngClass]="{
        'is-public':playlist.public,
        'is-private':!playlist.public
      }">
      <!-- {{playlist.public? 'Yes' : 'No'}} -->
      {{playlist.public | yesno }}
      {{playlist.public | yesno:'Yeah':'Nope' }}
    </dd>

    <dt>Description:</dt>
    <dd>{{playlist.description}}</dd>


    <!-- <dt>Created :</dt>
    <dd>{{playlist.created | date:'dd-MM-yyyy'}}</dd> -->
  </dl>


  <button ngProjectAs="footer" class="btn btn-info"
  data-test-id="edit_button"
  (click)="editClicked()">Edit</button>

  <!-- <button ngProjectAs="footer"
  class="btn btn-info" routerLink="edit">Edit</button> -->


</app-card>




<!-- [class]="playlist.public? 'is-public' : 'is-private'" -->
<!-- <dd class="visibility"
      [class.is-public]="playlist.public"
      [class.is-private]="!playlist.public"
    >
    {{playlist.public? 'Yes' : 'No'}}
  </dd> -->

<!-- <dd class="visibility" [ngClass]="getMyClasses()"> -->

<!-- <dd
    style="border-bottom: 1px solid "
    [style.color]=" playlist.public? 'red' : 'blue' "
    [style.border-bottom-color]=" playlist.public? 'red' : 'blue' "
  >
  {{playlist.public? 'Yes' : 'No'}}
</dd> -->
<!-- <dd style="border-bottom: 1px solid " [ngStyle]="{
    color: playlist.public? 'red' : 'blue',
    'border-bottom-color': playlist.public? 'red' : 'blue'
    }">
    {{playlist.public? 'Yes' : 'No'}}
  </dd> -->