<ng-container *ngIf="field">
  <p *ngIf="field.pending">Validating ...</p>
  <ng-container *ngIf="field.dirty || field.touched || formRef?.submitted">

    <p *ngIf="field.hasError('required')">
      Field is required
    </p>

    <p *ngIf="field.getError('minlength') as error ">
      Minimum {{error.requiredLength}} characteds required
    </p>

    <ng-content></ng-content>

  </ng-container>
</ng-container>