<!-- <div ng-controller="PlaylistsFormComponent as $ctrl"></div> -->

<form #formRef="ngForm" (ngSubmit)="submit(formRef)">
  <app-card>
    <!-- <pre>{{ playlist | json }}</pre> -->
    <pre>{{ formRef.value | json }}</pre> 

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" #nameRef="ngModel" [ngModel]="playlist.name" name="name" appCensor="batman">

      <div *ngIf="nameRef.getError('censor') as error">
        Cannot contain {{error.badword}}
      </div>
    </div>

    {{ 170 - nameRef.value?.length }} / 170


    <p (click)="showOptions = !showOptions">Toggle options</p>

    <div *ngIf="showOptions" ngModelGroup="settings">
      <div class="form-group">
        <label> <input type="checkbox" [ngModel]="playlist.public" name="public"> Public </label>
      </div>

      <div class="form-group">
        <label>Description:</label>
        <textarea [ngModel]="playlist.description" name="description" class="form-control"></textarea>
      </div>
    </div>


    <button ngProjectAs="footer" type="submit" class="btn btn-success">Save</button>
    <button ngProjectAs="footer" class="btn btn-danger" (click)="cancelClicked()">Cancel</button>

  </app-card>
</form>