<!-- <pre>{{searchForm.value | json }}</pre> -->

<form [formGroup]="searchForm" #formRef="ngForm">
  <div class="input-group mb-3">

    <input type="text" class="form-control" placeholder="Search" formControlName="query" #elemRef>

    <!-- <div class="input-group-append">
      <button class="btn btn-outline-secondary">Search</button>
    </div> -->
  </div>

  <app-form-messages [field]="searchForm.get('query')">
    <!-- <p *appFormMessage="'censor'; let error = $implicit">   
      Cannot contain "{{error.badword}}" 
    </p> -->
      
    <p *ngIf="searchForm.get('query')?.getError('censor') as error ">
      Cannot contain "{{error.badword}}"
    </p>
  </app-form-messages>

</form>