:host {
  display: block;
}

form .ng-touched.ng-invalid,
form .ng-dirty.ng-invalid {
  // @include errorStylesMixin()
  border: 2px solid red;
}

form .ng-touched.ng-valid,
form .ng-dirty.ng-valid {
  // @include errorStylesMixin()
  border: 2px solid green;
}
